
#drawer a{
	display: block;
	color: #3b3d4a;
	font-size: 1.1em;
	padding-left: 9vw;
	line-height: 15vw;

	border-bottom: 1px solid #bdbdbd;
}
#drawer a:hover{
	background-color: #efefef;
	color: #3b3d5a;
}

@media (min-width: 628px){
	#drawer a{
		font-size: 1.3em;
		padding-left: 9vw;
		line-height: 10vw;
	}
}


.Drawer .dropdown {
	display: block;
	color: #3b3d4a;
	text-align: left;
	cursor: pointer;
}
.Drawer .dropdown > .dropdown-links {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #f3f3f3;
	height: 0;
}
.Drawer .dropdown > .dropdown-links a{
	display: block;
	color: #fff;
	opacity: 1;
}
.Drawer .dropdown > .dropdown-label::after {
	position: absolute;
	right: 2em;
	content: '\25bc';
	font-size: 0.5em;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
}
.Drawer .dropdown.open > .dropdown-label::after {
	content: '\25b2';
}
.Drawer .dropdown.open > .dropdown-label::before {
	background-color: #1e1e1e;
	opacity: 0.6;
}
.Drawer .dropdown.open > .dropdown-links {
	height: unset;
}
.Drawer .dropdown:not(.open) > .dropdown-links > a {
	opacity: 0;
}