
.Navbar {
	background: transparent;
	opacity: 0.97;
	height: 15vw;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
	box-shadow: none;
	transition: all 0.3s;
}
.Navbar div.left-nav{
	position: fixed;
	left: 15vw;
	width: 70vw;
	transition: left 0.3s ease;
}
.Navbar div.right-nav{
	position: fixed;
	right: 30px;
	text-align: right;
	display: none;
}
.Navbar a.home-link{
	font-size: 1.2em;
	font-weight: 600;
	color: #5c5edc;
	max-height: 15vw;
	padding: 0.1em auto;
	margin: 0 5vw;
	line-height: 13vw;
	transition: all 0.3s, width 0.4s;
}
.Navbar a.home-link > svg,
.Navbar a.home-link > img{
	/*padding: 0.1em auto;*/
	display: inline-block;
	vertical-align: middle;
	height: 14vw;
	width: auto;
	opacity: 1;
}
.Navbar a.home-link > svg .a {
	fill: #1da1f2;
}
.Navbar.scrolled a.home-link{
	/*margin-left: 0;*/
	/*padding-left: 0;*/
	/*width: 20vw;*/
	/*overflow: hidden;*/
}
.Navbar.scrolled div.left-nav{
	/*left: 5vw;*/
}
.Navbar a.home-link > svg > path{
	opacity: 1;
	transition: all 0.3s;
}
.Navbar.scrolled a.home-link > svg > path:not(:last-of-type){
	/*opacity: 0;*/
}
.Navbar.scrolled {
	box-shadow: 3px 0 5px 0 rgba(0,0,0,0.4);
	background: #2e2e2e;
}
.Navbar:not(.scrolled) a.home-link > svg > .text{
	fill: #2e2e2e;
}

@media  ( min-width: 628px){
	.Navbar {
		height: 10vw;
	}
	.Navbar a.home-link{
		font-size: 1.2em;
		max-height: 10vw;
		padding: 0 auto;
		margin: 0 12.5vw;
		line-height: 9vw;
	}
	.Navbar a.home-link > svg,
	.Navbar a.home-link > img{
		width: 30vw;
	}
	.Navbar.scrolled a.home-link{
		/*width: 20vw;*/
	}
}
@media (min-width: 992px) {
	.Navbar {
		height: 80px;
	}
	.Navbar div.left-nav{
		left: 30px;
		/*width: 45vw;*/
		transition: left 0.3s ease;
	}
	.Navbar div.right-nav{
		right: 30px;
		/*width: 45vw;*/
		display: inline-block;
	}
	.Navbar a.home-link{
		font-size: 1.2em;
		max-height: 70px;
		padding: 0;
		margin: 0;
		line-height: 70px;
	}
	.Navbar a.home-link > svg,
	.Navbar a.home-link > img{
		width: 160px;
		height: auto;
	}
	.Navbar.scrolled a.home-link{
		/*width: 20vw;*/
	}
}


.has-hero #navbar:not(.scrolled) a.home-link > svg > .a{
	fill: #fff;
}
.has-hero #navbar:not(.scrolled) a.home-link > svg{
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
}
.has-hero #navbar:not(.scrolled) a {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.has-hero #navbar:not(.scrolled) + #ham-menu > span {
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.has-hero #navbar:not(.scrolled) a.home-link {
	opacity: 0;
	pointer-events: none;
}
@media (min-width: 992px) {
	.has-hero #navbar:not(.scrolled) a.home-link {
		opacity: 1;
		pointer-events: unset;
	}
	.has-hero #navbar:not(.scrolled) a.home-link > svg > .text {
		fill: #fff;
	}
}