.form-element-select {
	position: relative;
	display: block;
	line-height: 2em;
	margin: 0.4em 0 0 0;
}
.form-element-select .select-title{
	position: absolute;
	display: block;
	/*max-height: 9vw;*/
	color: #bbb;
	font-size: 1em;
	bottom: 0;
	left: 0;
	width: 0;
	line-height: 1.2em;
	padding-bottom: 0;
	pointer-events: none;
	z-index: 2;
	border-bottom: 2px solid;
	white-space: nowrap;
	transition: all 0.3s;
}
.form-element-select select{
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	width: 100%;
	font-size: 1em;
	/*height: 9vw;*/
	color: #333;
	border: 1px solid transparent;
	border-bottom: 1px solid #bbb;
	z-index: 1;
	vertical-align: bottom;
	line-height: 1.2em;
	overflow: hidden;
	background: transparent;
	transition: border-bottom-color 0.5s;
}
.form-element-select select:focus + div.select-title{
	color: #888;
}
.form-element-select.has-value select + div.select-title{
	padding-bottom: 1.5em;
	font-size: 0.8em;
	color: #1da1f2;
	width: 100%;
}
.form-element-select:not(.has-value) select{
	color: transparent;
	transition: color 0.3s;
}
.form-element-select select:focus{
	outline:none;
}
.form-element-select::after{
	font-family: FontAwesome;
	content: '\f078';
	font-size: 0.7em;
	color: #bbb;
	position: absolute;
	line-height: 1.5em;
	right: 1em;
	bottom: 0;
}
.form-element-select.has-value::after{
	color: #888;
	transition: color 0.3s;
}
.form-element-select option{
	color: #333;
	background: #fefefe;
	border: none;
}
.form-element-select option.blank{
	color: #bbb;
}