
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Thin.ttf');
	font-weight: 300;
}
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Light.ttf');
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Regular.ttf');
	font-weight: 600;
}
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Black.ttf');
	font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url('./lib/Roboto/Roboto-Bold.ttf');
	font-weight: 800;
}
body{
  background-color: #fafafa;
  color: #333;
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}
strong {
	font-weight: 500;
}
h3, h4, h5, h6 {
	font-weight: 600;
}