main {
	padding: 15vw 0;
	min-height: 85vh;
}

@media (min-width: 992px){
	main{
		padding: 90px 0;
		margin: auto;
	}
}
article {
	padding: 0 5vw;
	box-sizing: border-box;
	width: 100%;
}
@media (min-width: 992px) {
	article {
		padding: 0;
		width: 992px;
		margin: auto;
	}
}

@media (min-width: 1200px) {
	article {
		width: 1200px;
	}
}
h3{
	margin: 4vw 0 3vw 0;
}
h3 small{
	font-size: 0.75em;
	color: #888;
}
@media (min-width: 992px){
	h3{
		margin: 0.8em 0 0.8em 0;
	}
}
main a:not(.btn){
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	color: #E67E00;
	overflow: hidden;
	white-space: nowrap;
}
main a:not(.btn)::before{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	pointer-events: none;
	position: absolute;
	content: '';
	background-color: #bbb;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateY(99%);
	transition: transform 0.2s, background-color 0.5s;
}
main a:not(.btn):hover::before{
	background-color: #eee;
	transform: translateY(0);
	transition:transform 0.2s, background-color 0.1s;
}

code {
	/*color: #F2991D;*/
	background-color: #eee;
	padding: 0 3px;
}

ul {
	list-style: square;
}


main > section.trapezoid {
	min-height: 40vh;
	position: relative;
	background: #fafafa;
	padding: 2vw 5vw;
	z-index: 1;
}
@media (min-width: 992px){
	main > section.trapezoid {
		padding: 2em 3em;
	}
}
main > section.trapezoid:before, main > section.trapezoid:after {
	background: inherit;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
	-webkit-backface-visibility: hidden;
}
main > section.trapezoid:before {
	top: 0;
	-webkit-transform: skewY(1deg);
	transform: skewY(1deg);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
main > section.trapezoid:after {
	bottom: 0;
	-webkit-transform: skewY(-1deg);
	transform: skewY(-1deg);
	-webkit-transform-origin: 100%;
	transform-origin: 100%;
}

main > section.trapezoid:nth-child(odd){
	background: #DCEBF4;
}

main > section.trapezoid:nth-child(odd):before {
	-webkit-transform: skewY(-1deg);
	transform: skewY(-1deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
main > section.trapezoid:nth-child(odd):after {
	-webkit-transform: skewY(1deg);
	transform: skewY(1deg);
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
main > section.trapezoid:first-of-type:before {
	-webkit-transform: skewY(0deg);
	transform: skewY(0deg);
}
main > section.trapezoid:last-of-type:after {
	-webkit-transform: skewY(0deg);
	transform: skewY(0deg);
}

.fitty {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	min-height: 100%;
	font-size: 1.2em;
}
.fitty-icon{
	font-size: 10em;
	text-align: center;
}
@media (min-width: 628px) {
	.fitty {
		width: 45%;
	}
	section > div.fitty.fitty-icon:last-of-type{
		margin-left: 5%;
		width: 40%;
		border-left: 1px solid rgba(200, 200, 200, 0.5);
	}
	section > div.fitty.fitty-icon:first-of-type{
		margin-right: 5%;
		width: 40%;
		border-right: 1px solid rgba(200, 200, 200, 0.5);
	}
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.spacer {
	width: 20%;
	height: 10px;
	display: inline-block;
}