#drawer {
	background: #fefefe;
	opacity: 0.97;
	position: fixed;
	width: 100vw;
	height: 100%;
	top: 15vw;
	z-index: 998;
	/*padding-top: 15vw;*/
	left: 100vw;
	transition: left 0.3s ease;
}
#drawer.close{
	animation: drawerClose 0.3s;
}
@keyframes drawerClose {
	from {left: 0;}
	to {left: 100vw;}
}
#drawer.open{
	left: 0;
	transition: left 0.3s ease;
	animation: drawerOpen 0.6s;
	animation-iteration-count: 1;
}
@keyframes drawerOpen {
	0% {border-bottom-left-radius: 60%; border-top-left-radius: 20%;}
	50% {border-top-left-radius: 0;}
	100% {border-bottom-left-radius: 0;}
}
#drawer a{
	display: block;
	color: #3b3d4a;
	font-size: 1.1em;
	padding-left: 17vw;
	line-height: 15vw;

	border-bottom: 1px solid #bdbdbd;
}
#drawer a:hover{
	background-color: #efefef;
	color: #3b3d5a;
}

@media (min-width: 628px){
	#drawer {
		top: 10vw;
		transition: left 0.45s ease;
	}
	#drawer.close{
		animation: drawerClose 0.4s;
	}
	#drawer.open{
		transition: left 0.45s ease;
		animation: drawerOpen 0.75s;
	}
	#drawer a{
		font-size: 1.3em;
		padding-left: 12vw;
		line-height: 10vw;
	}
}

@media (min-width: 992px){
	#drawer {
		display: none;
	}
}
@media (min-width: 992px){
	#drawer {
		width: 480px;
		right: -480px;
	}
	@keyframes drawerClose {
		from {right: 0;}
		to {right: -480px;}
	}
}



/*-------------------*/
