
.form-element-text {
	position: relative;
	display: block;
	line-height: 1em;
	margin: 1em 0 0 0;
}
.form-element-text input{
	position: relative;
	width: 100%;
	font-size: 1em;
	/*height: 9vw;*/
	color: #333;
	border: 1px solid transparent;
	border-bottom: 1px solid #bbb;
	z-index: 1;
	vertical-align: bottom;
	line-height: 1.2em;
	overflow: hidden;
	background: transparent;
	transition: border-bottom-color 0.5s;
}
.form-element-text input:focus{
	outline: none;
	border-bottom-color: transparent;
}
.form-element-text input + label{
	position: absolute;
	display: block;
	/*max-height: 9vw;*/
	color: #bbb;
	font-size: 1em;
	bottom: 0;
	left: 0;
	width: 0;
	line-height: 1em;
	padding-bottom: 0;
	pointer-events: none;
	z-index: 2;
	border-bottom: 2px solid;
	white-space: nowrap;
	transition: all 0.3s;
}
.form-element-text input:focus + label,
.form-element-text.has-text input + label{
	padding-bottom: 1.5em;
	font-size: 0.8em;
	color: #1da1f2;
}

.form-element-text input:focus + label,
.form-element-text.has-text input + label{
	width: 100%;
}
.form-element-text.has-text.invalid input + label{
	color:#e33f5f;
	transition: color 0.3s;
}

span.password-toggle{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	color:#bbb;
	z-index: 6;
}
span.password-toggle:hover{
	cursor: pointer;
}
span.password-toggle::before{
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 1.2em;
	font-family: FontAwesome;
}
.form-element-text.has-text input[type=password] + label + span.password-toggle::before{
	content: '\f06e';
}
.form-element-text.has-text input[type=text] + label + span.password-toggle::before{
	content: '\f070';
}
.form-element-text.has-text  input[type=password] + label + span.password-toggle::before,
.form-element-text.has-text  input[type=text] + label + span.password-toggle::before{
	color: #333;
}
